[DATABASE]
DB_HOST=localhost
DB_PORT=1433
DB_NAME=ChatBot
DB_USER=createlsa
DB_PASSWORD=ABC123bedm
DB_DRIVER=ODBC Driver 17 for SQL Server

[RASA]
RASA_API_URL=https://createl.shop/chatbot

[WIDGET]
WIDGET_TITLE=Createl Bot
WIDGET_SUBTITLE=How can I help you today?

[NOPCOMMERCE]
NOP_API_URL=https://createl.shop/api
NOP_SECRET_KEY=6800436ac8a8f13a5dea08c66ad6e2e14a6d3042d8287e877b54e1a9b09532e8
NOP_ADMIN_USERNAME=sadaqatbukhari@outlook.com
NOP_ADMIN_PASSWORD=Admin@1
NOP_VERIFY_SSL=false

[OPENAI]
OPENAI_API_KEY=
